<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <connectionStrings>
        <!-- Same database as CSharp.Ch09.Supplemental.01.AdoNetAndEntityFramework, see that
             project's README.md for setup instructions if you haven't already restored it. -->
        <add name="ExternalData" connectionString="Data Source=.;Initial Catalog=ExternalData;Integrated Security=True;" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
