<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--
        sections are declared with the following syntax:
        name="<<section tag name>>"
        type="<<namespace>>.<<class>>, <<assembly>>"
      -->
    <section name="onBaseSettings" type="CSharp.Ch05.Supplemental.ConfigurationClasses.Models.Configuration.OnBaseSettings, CSharp.Ch05.Supplemental.ConfigurationClasses"/>
  </configSections>
  <appSettings>
    <add key="subject" value="Configuraton Classes"/>
  </appSettings>
  <onBaseSettings>
    <!--
      List of document types and their applicable keyword types
    -->
    <documentTypes>
      <documentType name="TST - Image" id="101">
        <keywordTypes>
          <keywordType name="Description" id="1" dataType="Alphanumeric" dataLength="50"/>
          <keywordType name="TST - Alpha 10" id="101" dataType="Alphanumeric" dataLength="10"/>
        </keywordTypes>
      </documentType>
      <documentType name="TST - Word" id="102">
        <keywordTypes>
          <keywordType name="Description" id="1" dataType="Alphanumeric" dataLength="50"/>
          <keywordType name="TST - Date" id="102" dataType="Date" dataLength="0"/>
        </keywordTypes>
      </documentType>
      <documentType name="TST - PDF" id="103">
        <keywordTypes>
          <keywordType name="TST - Date" id="102" dataType="Date" dataLength="0"/>
          <keywordType name="Description" id="1" dataType="Alphanumeric" dataLength="50"/>
          <keywordType name="TST - Alpha 10" id="101" dataType="Alphanumeric" dataLength="10"/>
        </keywordTypes>
      </documentType>
    </documentTypes>
    <!--
    serviceLocation:        Details for connecting to OnBase
      servicePath:          URL to the Service.asmx page of the Application Server
      dataSource:           Data source name (configured at the Application Server) to connect to
      licenseType           License type to use when connecting to OnBase
      useNTAuthentication:  A "true" or "false" value indicating of NT authentication is to be used
      domain:               Domain to use for NT Authentication
                            Optional; Required only if using NTAuthentication and you want to use a different user from the user running the application
      username:             OnBase username that will be used to connect
                            Optional; Required if useNTAuthentication is "false" or if useNTAuthentication is "true" and you want to use a different user from the user running the application
      password:             OnBase password that will be used to connect
                            Optional; Required if useNTAuthentication is "false" or if useNTAuthentication is "true" and you want to use a different user from the user running the application
    
      To encrypt credentials, run the following command:
      aspnet_setreg.exe" -k:SOFTWARE\DataBank\CustomServicePortal -u:username -p:password
      When encrypting, the username and password attribute values should be updated as follows:
      username="registry:HKLM\SOFTWARE\DataBank\CustomServicePortal\ASPNET_SETREG,userName"
      password="registry:HKLM\SOFTWARE\DataBank\CustomServicePortal\ASPNET_SETREG,password"
    -->
    <serviceLocation servicePath="http://localhost/appserver/service.asmx"
                     dataSource="OnBase"
                     licenseType="QueryMetering"
                     useNTAuthentication="false"
                     domain=""
                     username="registry:HKLM\SOFTWARE\DataBank\DeveloperTraining\Identity\ASPNET_SETREG,userName"
                     password="registry:HKLM\SOFTWARE\DataBank\DeveloperTraining\Identity\ASPNET_SETREG,password"/>
  </onBaseSettings>
</configuration>
