<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="onBaseSettings"
             type="Unity._00.CommonFunctionality.Models.Configuration.OnBaseSettings, Unity.00.CommonFunctionality" />
  </configSections>

  <onBaseSettings>
    <serviceLocation applicationId="test-app-guid"
                     servicePath="https://onbase.invalid/AppServer/Service.asmx"
                     dataSource="TestDataSource"
                     licenseType="Default"
                     authenticationMode="OnBaseCredentials"
                     username="testuser"
                     password="testpass" />
  </onBaseSettings>
</configuration>