<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!-- Point this at a real SQL Server instance with a ZipCodes table to actually run this sample. -->
  <connectionStrings>
    <add name="ExternalDataEntities" connectionString="metadata=res://*/Models.LocationLookupModel.csdl|res://*/Models.LocationLookupModel.ssdl|res://*/Models.LocationLookupModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=YourSqlServerHostname;initial catalog=ExternalData;user id=YourUsername;password=YourPassword;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
