<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="preprocessorSettings" type="OnBase.Preprocessor.Models.Configuration.PreprocessorSettings, OnBase.Preprocessor"/>
  </configSections>
  <!--
    Preprocessor Settings:
      debugMode:                    When true, trace logging is enabled
      interactive:                  When true, the application waits for the user to respond before exiting
      charSet:                      Supported character set (Ansi | Ascii | Unicode)
      invalidCharacterSubstitute:   This character will appear in the output file to replace any invalid characters encountered
      replaceFormFeeds:             When true, any form-feed characters will be replaced with a line-break
      logFilePath:                  Where Serilog writes this run's log entries
      characterReplacements:        This is a customizable list of specific characters to replace
        original:                   This is the character to remove if encountered
        replacement:                This is the character to substitute for the removed character
  -->
  <preprocessorSettings debugMode="true"
                        interactive="true"
                        charSet="Ascii"
                        invalidCharacterSubstitute="?"
                        replaceFormFeeds="true"
                        logFilePath=".\logs\preprocessor.log">
    <characterReplacements>
      <!-- Example: Replace en-dash with hyphen -->
      <character original="–" replacement="-"/>
      <!-- Example: Replace em-dash with hyphen -->
      <character original="—" replacement="-"/>
    </characterReplacements>
  </preprocessorSettings>
</configuration>
