<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="webServiceSettings" type="Samples.AsmxWebService.Client.Models.Configuration.WebServiceSettings, Samples.AsmxWebService.Client"/>
  </configSections>
  <webServiceSettings webServiceUrl="https://localhost:44355/ExampleWebService.asmx"/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
