.databank-blue {
    color: #427dff;
}

.bg-databank-blue {
    background-color: #427dff;
}

.border-databank-blue {
    border: 1px solid #427dff;
}

.navy {
    color: #00263d;
}

.bg-navy {
    background-color: #00263d;
}

.border-navy {
    border: 1px solid #00263d;
}

.white {
    color: #ffffff;
}

.bg-white {
    background-color: #ffffff;
}

.border-white {
    border: 1px solid #ffffff;
}

.electric-green {
    color: #36c99e;
}

.bg-electric-green {
    background-color: #36c99e;
}

.border-electric-green {
    border: 1px solid #36c99e;
}

.electoral-teal {
    color: #00b8d6;
}

.bg-electoral-teal {
    background-color: #00b8d6;
}

.border-electoral-teal {
    border: 1px solid #00b8d6;
}

.hot-coral {
    color: #ff6152;
}

.bg-hot-coral {
    background-color: #ff6152;
}

.border-hot-coral {
    border: 1px solid #ff6152;
}

.gold-fusion {
    color: #ffab00;
}

.bg-gold-fusion {
    background-color: #ffab00;
}

.border-gold-fusion {
    border: 1px solid #ffab00;
}

.db-font {
    font-family: Arial, Helvetica, sans-serif;
}
