.navy {
    color: #00263D;
}

.bg-navy {
    background-color: #00263D;
}

.border-navy {
    border: 1px solid #00263D;
}

.databank-blue {
    color: #427DFF;
}

.bg-databank-blue {
    background-color: #427DFF;
}

.border-databank-blue {
    border: 1px solid #427DFF;
}

.light-blue {
    color: #DBE7FF;
}

.bg-light-blue {
    background-color: #DBE7FF;
}

.border-light-blue {
    border: 1px solid #DBE7FF;
}

.off-white {
    color: #EDF0F7;
}

.bg-off-white {
    background-color: #EDF0F7;
}

.border-off-white {
    border: 1px solid #EDF0F7;
}

.white {
    color: #FFFFFF;
}

.bg-white {
    background-color: #FFFFFF;
}

.border-white {
    border: 1px solid #FFFFFF;
}

.hot-coral {
    color: #FF7669;
}

.bg-hot-coral {
    background-color: #FF7669;
}

.border-hot-coral {
    border: 1px solid #FF7669;
}

.gold-fusion {
    color: #FFC864;
}

.bg-gold-fusion {
    background-color: #FFC864;
}

.border-gold-fusion {
    border: 1px solid #FFC864;
}

.electric-green {
    color: #46A56F;
}

.bg-electric-green {
    background-color: #46A56F;
}

.border-electric-green {
    border: 1px solid #46A56F;
}

.electoral-teal {
    color: #51C4BB;
}

.bg-electoral-teal {
    background-color: #51C4BB;
}

.border-electoral-teal {
    border: 1px solid #51C4BB;
}

.spark-purple {
    color: #8889F2;
}

.bg-spark-purple {
    background-color: #8889F2;
}

.border-spark-purple {
    border: 1px solid #8889F2;
}
