div.icon-databank-blue {
    background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAwIDEwMDAiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojNDM3ZGZmO308L3N0eWxlPjwvZGVmcz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik04MjguNjcsMTIzLjM4QTQ5Ny45LDQ5Ny45LDAsMCwwLDUwMCwwSDBWNjM5LjQ5WiIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTgyOC43LDEyMy40LjE1LDEwMDBINTAwYzI3Ni4xNCwwLDUwMC0yMjMuODYsNTAwLTUwMGgwQzEwMDAsMzQ5Ljc0LDkzMy42MywyMTUuMDYsODI4LjcsMTIzLjRaIi8+PC9zdmc+");
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    margin-bottom: 10px;
}

div.icon-navy {
    background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAwIDEwMDAiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojMDAyNjNkO308L3N0eWxlPjwvZGVmcz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik04MjguNjcsMTIzLjM4QTQ5Ny45LDQ5Ny45LDAsMCwwLDUwMCwwSDBWNjM5LjQ5WiIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTgyOC43LDEyMy40LjE1LDEwMDBINTAwYzI3Ni4xNCwwLDUwMC0yMjMuODYsNTAwLTUwMGgwQzEwMDAsMzQ5Ljc0LDkzMy42MywyMTUuMDYsODI4LjcsMTIzLjRaIi8+PC9zdmc+");
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    margin-bottom: 10px;
}

div.icon-white {
    background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAwIDEwMDAiPjxkZWZzPjxzdHlsZT4uY2xzLTF7ZmlsbDojZmZmO308L3N0eWxlPjwvZGVmcz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik04MjguNjcsMTIzLjM4QTQ5Ny45LDQ5Ny45LDAsMCwwLDUwMCwwSDBWNjM5LjQ5WiIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTgyOC43LDEyMy40LjE1LDEwMDBINTAwYzI3Ni4xNCwwLDUwMC0yMjMuODYsNTAwLTUwMGgwQzEwMDAsMzQ5Ljc0LDkzMy42MywyMTUuMDYsODI4LjcsMTIzLjRaIi8+PC9zdmc+");
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    margin-bottom: 10px;
}
