<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <connectionStrings>
        <!-- See README.md for setup instructions. Update Data Source to match your SQL Server instance. -->
        <add name="ExternalData" connectionString="Data Source=.;Initial Catalog=ExternalData;Integrated Security=True;" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
