<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="webServiceSettings" type="Samples.WcfService.Client.Models.Configuration.WebServiceSettings, Samples.WcfService.Client"/>
  </configSections>
  <webServiceSettings webServiceUrl="http://localhost:39417/ExampleWebService.svc"/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
