<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="programSettings" type="CSharp.Ch06.Supplemental.s05.ExceptionHandling.Models.Configuration.ProgramSettings, CSharp.Ch06.Supplemental.05.ExceptionHandling"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <programSettings debugMode="true" interactive="true"/>
  <!--
      Settings for Log4Net logging utility
    -->
  <log4net>
    <appender name="LogFile" type="log4net.Appender.FileAppender">
      <file value="C:\Temp\CSharpTraining\Logs\ExceptionHandlingExample.log"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - [%level] %message%newline%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="LogFile"/>
    </root>
  </log4net>
</configuration>
